// resets

a {
  text-decoration: none;
}

// AppMenu ===============================

//Watch out!!

#menu, .MuiModal-root-162 {
  // div[class^="MuiPaper-root"], .MuiPaper-root-24 {
  //   span {
  //     color: white;
  //   }
  //   ul {
  //     margin: 0 8px;
  //   }
  // }

  a > div {
    border-bottom: 1px solid #726442;
  }

  div[class*="MuiDrawer-paperAnchorDockedLeft"] {
    border-right: unset;
    > div {
      // height: calc(100vh - 250px);
      border-bottom: unset;
    }
    ul {
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .ResponsiveDrawer-menuButton-4 {
    display: block !important;
  }
  @media (min-width: 600px) {
    .ResponsiveDrawer-toolbarStyles-10 {
      width: 100% !important;
    }
  }

  //left and right column box shadows
  nav div[class*="ResponsiveDrawer-toolbar"] {
    box-shadow: 12px 2px 5px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }

  header[class*="ResponsiveDrawer-appBar"] {
    box-shadow: -3px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
}
