// FONTS are in html/index.js
// MrsEavesRoman and MrsEavesItalic (You are cordially invited, address)
// Baskervville (dates - this is from Google)

// Notes on Wedding:
// styles for the height and color of the main boxes
// are inlined in Wedding.js

// VARIABLES
$welcomeBackgroundHeight: 1500px;
$lotusPNGGrey: #ececec;
$buddhaBlue:  #002b80;
$wheat: #e3d1b5;


// MIXINS
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// shouldn't need this one (phone)
@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


// MAIN STACKABLE BOXES
#root > div:not(#background-container) {
  height: 812px;
  padding: 0 16px;
  padding-top: 150px;
  > div {
    background: white;
    margin: auto;
    width: 100%;
    @include tablet {
      max-width: 720px;
    }
  }
}

// BACKGROUND / Lotus
#background-container {
  height: $welcomeBackgroundHeight;
  width: 100%;
  position: fixed;
  z-index: -1000;

  // same color as lotus:
  background-color: $lotusPNGGrey;
  #background {
    // the lotus image gets loaded as a Base64 inline style
    // see client/html/images.js -> client/html/index.js
    height: $welcomeBackgroundHeight;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-position-x: center;
    background-position-y: -200px;
    @include tablet {
      background-position: right -700px top 0;
    }
  }
}

#welcome {
  height: 500px;
  position: relative;
  border: 4px solid $wheat;

  #skyline {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fade-in {
  opacity: 0;
  animation: 2s ease-out 1s 1 fadeIn;
  animation-fill-mode: forwards;
}
