a {
  text-decoration: none; }

#menu a > div, .MuiModal-root-162 a > div {
  border-bottom: 1px solid #726442; }

#menu div[class*="MuiDrawer-paperAnchorDockedLeft"], .MuiModal-root-162 div[class*="MuiDrawer-paperAnchorDockedLeft"] {
  border-right: unset; }
  #menu div[class*="MuiDrawer-paperAnchorDockedLeft"] > div, .MuiModal-root-162 div[class*="MuiDrawer-paperAnchorDockedLeft"] > div {
    border-bottom: unset; }
  #menu div[class*="MuiDrawer-paperAnchorDockedLeft"] ul, .MuiModal-root-162 div[class*="MuiDrawer-paperAnchorDockedLeft"] ul {
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.12); }

#menu .ResponsiveDrawer-menuButton-4, .MuiModal-root-162 .ResponsiveDrawer-menuButton-4 {
  display: block !important; }

@media (min-width: 600px) {
  #menu .ResponsiveDrawer-toolbarStyles-10, .MuiModal-root-162 .ResponsiveDrawer-toolbarStyles-10 {
    width: 100% !important; } }

#menu nav div[class*="ResponsiveDrawer-toolbar"], .MuiModal-root-162 nav div[class*="ResponsiveDrawer-toolbar"] {
  box-shadow: 12px 2px 5px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

#menu header[class*="ResponsiveDrawer-appBar"], .MuiModal-root-162 header[class*="ResponsiveDrawer-appBar"] {
  box-shadow: -3px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

