#background-container {
  height: 1500px;
  width: 100%;
  position: fixed;
  z-index: -1000;
  background-color: #ececec; }
  #background-container #background {
    height: 1500px;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-position-x: center;
    background-position-y: -200px; }

#welcome {
  font-family: MrsEavesRoman;
  font-size: 36px;
  color: #002b80;
  background-color: #b8b894; }

